<!DOCTYPE html>
<html lang="en">
<head>
    <title>Agregar Producto</title>
    <link rel="stylesheet" href="/css/styles-create.css">
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="create-body">
            <div class="create-box">
                <div class="create-paddin">
                    <p class="create-tittle">AGREGAR UN NUEVO PRODUCTO</p>
                    <form action="/product/create" method="POST" enctype="multipart/form-data">
                        <div class="input-create">
                            <label for="nombre">Nombre del Juego</label></BR>
                            <input 
                                type="text"
                                name="nombre" 
                                id="nombre" 
                                class="form-control <%= locals.errors && errors.nombre ? 'is-invalid' : locals.errors ? 'is-valid' : null %>"
                                value="<%= locals.oldData ? oldData.nombre : null %>"
                            > 
                            <% if(locals.errors && errors.nombre) { %>
                                <div class="text-danger">
                                    <%= errors.nombre.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="input-create">
                            <label for="nombre">Imagen logo</label></BR>
                            <input type="file" name="imagenLogo" id="imagenLogo"> 
                        </div>
                        <div class="input-create">
                            <label for="nombre">Imagenes</label></BR>
                            <input type="file" name="imagenes" id="imagenes" multiple> 
                        </div>
                        <p>Plataformas</p>
                        <div class="plataformas">
                            <div class="checkbox-create">
                                <label for="nombre">
                                    <input type="checkbox" name="compatibilidad" value="fa-solid fa-desktop">Pc
                                </label>
                            </div>
                            <div class="checkbox-create">
                                <label for="nombre">
                                    <input type="checkbox" name="compatibilidad" value="fa-brands fa-playstation">Playstation
                                </label>
                            </div>
                            <div class="checkbox-create">
                                <label for="nombre">                            
                                    <input type="checkbox" name="compatibilidad" value="fa-brands fa-xbox">Xbox
                                </label>
                            </div>
                            <div class="checkbox-create">
                                <label for="nombre">
                                    <input type="checkbox" name="compatibilidad" value="fa-brands fa-apple">Ios
                                </label>
                            </div>
                            <div class="checkbox-create">
                                <label for="nombre">
                                    <input type="checkbox" name="compatibilidad" value="fa-brands fa-android">Android
                                </label>
                            </div>
                            <div class="checkbox-create">
                                <label for="nombre">
                                    <input type="checkbox" name="compatibilidad" value="fa-solid fa-game-console-handheld">Nintendo
                                </label>
                            </div>
                        </div>
                        <div class="input-create">
                            <label for="precio">Precio</label></BR>
                            <input 
                                type="number"
                                name="precio" 
                                id="precio" 
                                class="form-control <%= locals.errors && errors.precio ? 'is-invalid' : locals.errors ? 'is-valid' : null %>"
                                value="<%= locals.oldData ? oldData.precio : null %>"
                            > 
                            <% if(locals.errors && errors.precio) { %>
                                <div class="text-danger">
                                    <%= errors.precio.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="input-create">
                            <label for="precio">Descuento</label></BR>
                            <input 
                                type="number" 
                                name="descuento" 
                                id="descuento"
                                class="form-control"
                                value="<%= locals.oldData ? oldData.descuento : null %>"
                            > 
                        </div>
                        <div class="input-create">
                            <label for="descripcion">Descripcion del Juego</label></BR>
                            <textarea 
                                type="text" 
                                name="descripcion" 
                                id="descripcion" 
                                class="form-control <%= locals.errors && errors.descripcion ? 'is-invalid' : locals.errors ? 'is-valid' : null %>"
                            ><%= locals.oldData ? oldData.descripcion : null %></textarea>
                            <% if(locals.errors && errors.descripcion) { %>
                                <div class="text-danger">
                                    <%= errors.descripcion.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="checkbox-create">
                            <label for="text">Género:</label>
                            <select name="genero">
                                <option value="">Elegi un genero</option>
                                <%
                                    let generos= ['Accion', 'Arcade', 'Aventura' ,'Carerras' ,'Deportes' ,'Estrategia' ,'Infantil' ,'Roll' ,'Terror']
                                %>
                                <% for(let i=0 ; i< generos.length ; i++) { %> 
                                    <option value="<%= i+1 %>"
                                        <%= locals.oldData && (genero === oldData.genero) ? "selected" : null %>
                                    > <%= generos[i] %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="checkbox-create">
                            <label for="text">Categoria:</label>
                            <select name="categoria">
                                <option value="">Elegi una categoria</option>
                                <%
                                    let categoria = ['Mas Vendido', 'Novedades', 'Proximamente', 'Oferta']
                                %>
                                <% for(let j=0 ; j< categoria.length ; j++) { %> 
                                    <option value="<%= j+1 %>"
                                        <%= locals.oldData && (categoria === oldData.categoria) ? "selected" : null %>
                                    > <%= categoria[j] %></option>
                                <% } %>
                            </select>
                        </div><br><br>
                        <div class="input-create">
                            <label for="nombre">Sistema Operativo</label></BR>
                            <input 
                                type="text" 
                                name="os" 
                                id="os"
                                class="form-control <%= locals.errors && errors.os ? 'is-invalid' : locals.errors ? 'is-valid' : null %>"
                            > 
                        </div>
                        <div class="input-create">
                            <label for="nombre">Procesador</label></BR>
                            <input 
                                type="text" 
                                name="procesador" 
                                id="procesador"
                                class="form-control <%= locals.errors && errors.procesador ? 'is-invalid' : locals.errors ? 'is-valid' : null %>"
                            > 
                        </div>
                        <div class="input-create">
                            <label for="nombre">Memoria RAM</label></BR>
                            <input 
                                type="text" 
                                name="memoria" 
                                id="memoria"
                                class="form-control <%= locals.errors && errors.memoria ? 'is-invalid' : locals.errors ? 'is-valid' : null %>"
                            > 
                        </div>
                        <div class="input-create">
                            <label for="nombre">Graficos</label></BR>
                            <input 
                                type="text" 
                                name="graficos" 
                                id="graficos"
                                class="form-control <%= locals.errors && errors.graficos ? 'is-invalid' : locals.errors ? 'is-valid' : null %>"
                            > 
                        </div>
                        <div class="input-create">
                            <label for="nombre">Almacenamiento</label></BR>
                            <input 
                                type="text" 
                                name="almacenamiento" 
                                id="almacenamiento"
                                class="form-control <%= locals.errors && errors.almacenamiento ? 'is-invalid' : locals.errors ? 'is-valid' : null %>"
                            > 
                        </div>
                        <div class="input-create">
                            <label for="nombre">Notas adicionales</label></BR>
                            <input type="text" name="notasAdicionales" id="notasAdicionales"> 
                        </div>
                        <div class="button-submit">
                            <button type="submit" class="submit-agregar-producto"><span>Agregar Producto</span></button>
                        </div>
                    </form>
                </div>         
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>