<!DOCTYPE html>
<html lang="en">
<head>
    <title>Detalle del Producto</title>
    <link rel="stylesheet" href="/css/styles-productDetail.css">
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <%- include('../partials/nav-explorador') %>
        <div class="product-detail">
            <div class="contenedor-1">
                <h1 class="nombre-producto"><%= producto.nombre %></h1>
                <div class="body-product">
                    <div class="body-product-right">
                        <img src="<%= producto.imagenLogo %>">
                        <div class="precio-carrito">
                            <p>ARS $<%= producto.precio %></p>
                            <div class="button-addcart">
                                <a href="#" class="button-iniciar-sesion"><span>Añadir al Carrito</span></a>
                            </div>
                        </div>
                        <div class="system">
                            <p>SYSTEM REQUIREMENTS</p>
                            <ul>
                                <li>Requires a 64-bit processor and operating system<br></li>
                                <li> 
                                    <strong>OS:</strong> <%= producto.so%><br>
                                </li>
                                <li>  
                                    <strong>Processor:</strong> <%= producto.procesador %><br>
                                </li>
                                <li> 
                                    <strong>Memory:</strong> <%= producto.memoria %><br>
                                </li>
                                <li> 
                                    <strong>Graphics:</strong> <%= producto.graficos %><br>
                                </li>
                                <li> 
                                    <strong>Storage:</strong> <%= producto.almacenamiento %><br>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="body-product-left">
                        <div class="imagen-visual">
                            <div class="imagenes-visuales">
                                <% for(let i=0 ; i<producto.imagenes.length ; i++) { %>
                                <div id="img<%= i %>">
                                    <img src="<%= producto.imagenes[i] %>" alt="">
                                </div>
                                <% } %>
                            </div>
                        </div>
                        <div class="mas-imagenes">
                            <% for(let i=0 ; i<producto.imagenes.length ; i++) { %>
                            <div>
                                <a href="#img<%= i %>"><img src="<%= producto.imagenes[i] %>" alt=""></a>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="button-seguircomprando">
                    <a href="/">
                        <span>Seguir comprando</span>
                    </a>
                </div>
            </div>
            <div class="contenedor-2">
                <div class="detalle-producto">
                    <h2>ACERCA DE ESTE JUEGO</h2>
                    <% for(let descripcion of producto.descripcion) { %>
                        <h3><%= descripcion%></h3>
                        <br>
                    <% } %>
                </div>
                <div class="system">
                    <p>SYSTEM REQUIREMENTS</p>
                    <ul>
                        <li>Requires a 64-bit processor and operating system<br></li>
                        <li> 
                            <strong>OS:</strong>  <%= producto.so%><br>
                        </li>
                        <li>  
                            <strong>Processor:</strong> <%= producto.procesador %><br>
                        </li>
                        <li> 
                            <strong>Memory:</strong> <%= producto.memoria %><br>
                        </li>
                        <li> 
                            <strong>Graphics:</strong> <%= producto.graficos %><br>
                        </li>
                        <li> 
                            <strong>Storage:</strong> <%= producto.almacenamiento %><br>
                        </li>
                    </ul>
                </div>
            </div>
            <form action="/product/<%= producto.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                <button type="submit" class="action-button delete">ELIMINAR</button>
            </form>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>