<article>
    <a href="/product/detail/<%= producto.id %>">
    <img src="<%= producto.imagenLogo %>" alt="">
    <div class="main-class">
        <h3><%= producto.nombre %></h3>
        <div class="plataformas"> 
            <% for(let compatibilidad of producto.compatibility) { %>
                <p><i class="<%= compatibilidad.icono %>"></i></p>
            <%} %>
            <p><i class="fa-solid fa-bow-arrow"></i></p>
        </div>
        <div class="descuento-precio">
            <p class="descuento"><%= producto.descuento %>%</p>
            <p class="precio">$<%= producto.precio %></p>
        </div>
    </div>
    </a>
</article>