<article>
    <a href="">
    <img src="<%= juegos.imagenLogo %>" alt="">
    <div class="main-class">
        <h3><%= juegos.nombre %></h3>
        <div class="plataformas"> 
            <p><%= juegos.compatibilidad %></p> 
        </div>
        <div class="descuento-precio">
            <p class="descuento"><%= juegos.descuento %></p>
            <p class="precio"><%= juegos.precio %></p>
        </div>
    </div>
    </a>
</article>