<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Bienvenido a Acme</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
    <div class="todo">
        <%- include('../partials/nav-explorador') %>
        <section class="destacados">
            <h2>DESTACADOS</h2>
            <div class="banner">
                <a href="/productDetail"><img src="/imagenes/fifa-2022.jpg" class="foto-principal"></a>
                <div class="imagenes-banner">
                    <div id="videos">
                        <a href="/productDetail">
                            <video loop muted autoplay class="video-principal">
                                <source src="/imagenes/trailer-fifa22.mp4" type="video/mp4">
                            </video>
                        </a>
                    </div>
                    <div id="cs">
                        <a href="/productDetail"><img src="/imagenes/gran-turismo.jpg" alt=""></a>
                    </div>
                    <div id="dota">
                        <a href="/productDetail"><img src="/imagenes/dota-2.jpg" alt=""></a>
                    </div>
                    <div id="nba">
                        <a href="/productDetail"><img src="/imagenes/nba-2k20.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            <h2>OFERTAS ESPECIALES</h2>
            <div class="ofertas-especiales">
                <div>
                    <a href="#cs"><img src="/imagenes/gran-turismo.jpg"></a>
                </div>
                <div>
                    <a href="#dota"><img src="/imagenes/dota-2.jpg"></a>
                </div>
                <div>
                    <a href="#nba"><img src="/imagenes/nba-2k20.jpg"></a>
                </div>
            </div>
            <div class="banner-iniciar-sesion">
                <p>Inicia sesion para ver recomendaciones personalizadas</p>
                <a href="/login" class="button-iniciar-sesion"><span>Iniciar sesion</span></a>
                <p>O <a href="/register">registrate</a> y unete a Acme games</p>
            </div>
            <div class="banner-iniciar-sesion">
                <p>Presionar para agregar un nuevo producto</p>
                <a href="/create" class="button-create-producto"><span>Agregar Producto</span></a>
            </div>

            <div class="banner-iniciar-sesion">
                <p>Presionar para editar un producto</p>
                <a href="/edit" class="button-edit-producto"><span>Editar Producto</span></a>
            </div>
            
            <section class="otros-juegos">
                <h2>OTROS JUEGOS</h2>
                <div class="juegos">
                    <% for(let juegos of producto) { %>
                        <article>
                            <a href="/producDetail">
                            <img src="<%= juegos.imagenLogo %>" alt="">
                            <div class="main-class">
                                <h3><%= juegos.nombre %></h3>
                                <div class="plataformas"> 
                                    <% for(let compatibilidad of juegos.compatibilidad) { %>
                                        <p><i class="<%= compatibilidad %>"></i></p>
                                    <%} %>
                                </div>
                                <div class="descuento-precio">
                                    <p class="descuento"><%= juegos.descuento %></p>
                                    <p class="precio"><%= juegos.precio %></p>
                                </div>
                            </div>
                            </a>
                        </article>
                    <%} %>
                </div>
            </section>
        </section>
    </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>