<!DOCTYPE html>
<html lang="en">
<head>
    <title>Iniciar Sesi칩n</title>
    <link rel="stylesheet" href="/css/styles-login.css">
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <div class="encabezado">
            <section>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
                <img src="/imagenes/imagen-logo.jpg" alt="imagen del logo" class="logo">
            </section>
        </div>
    </header>
    <main>
        <div class="login-body">
            <div class="login-box">
                <div class="login-paddin">
                    <p class="login-tittle">Iniciar sesi칩n</p>
                    <% if(locals.errors) { %>
                        <% for(let error in errors) { %>
                        <div class="text-danger">
                            <%= errors[error].msg %>
                        </div>
                        <% } %>
                    <% } %>
                    <form action="/users/login" method="post">
                        <div class="input-login">
                            <label for="email">Email de la cuenta</label></BR>
                            <input 
                                type="text" 
                                name="email" 
                                id="email" 
                                class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>" 
                                value="<%= locals.oldData ? oldData.email : null %>"
                            > 
                        </div>
                        <div class="input-login">
                            <label for="password">Contrase침a</label></br>
                            <input 
                                type="password" 
                                name="password" 
                                id="password" 
                                class="form-control <%= locals.errors ? 'is-invalid' : null %>" 
                            >
                        </div>
                        <div class="recordarme">
                            <label><input type="checkbox" name="recordarme">Recordarme</label>
                        </div>
                        <div class="button-submit">
                            <button type="submit" class="submit-iniciar-sesion"><span>Iniciar sesi칩n</span></button>
                        </div>
                    </form>
                </div>
                <div class="login-footer">
                    <p class="inicia-con">O inicia sesion con</p>
                    <div class="login-footer-icon">
                        <p class="icon-facebook"><i class="fa-brands fa-facebook"></i></p>
                        <p class="icon-google"><i class="fa-brands fa-google"></i></p>
                        <p class="icon-apple"><i class="fa-brands fa-apple"></i></p>
                    </div>
                </div>    
            </div>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>