<!DOCTYPE html>
<html lang="en">
<head>
    <title>Formulario de Registro</title>
    <link rel="stylesheet" href="/css/styles-login.css">
    <link rel="stylesheet" href="/css/styles-register.css">
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="login-body">
            <div class="login-box">
                <div class="login-paddin">
                    <p class="login-tittle">Editar tu Usuario</p>
                    <form action="/users/edit?_method=PUT" method="post" enctype="multipart/form-data" id="form">
                        <ul class="errors"></ul>
                        <div class="input-formulario">
                            <label for="nombre">Nombre de Usuario</label></BR>
                            <input 
                                type="text"
                                name="nombre" 
                                class="form-control <%= locals.errors && errors.nombre ? 'is-invalid' : locals.errors ? 'is-valid' : null  %>"
                                id="username"
                                value="<%= user.nombre %>"
                            > 
                            <% if(locals.errors && errors.nombre) { %>
                                <div class="text-danger" style="color: red;">
                                    <%= errors.nombre.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="input-formulario">
                            <label for="nombre">Avatar</label></BR>
                            <input 
                                type="file" 
                                name="imagenAvatar" 
                                id="imagenAvatar"
                                value="<%= user.avatar %>"
                            >
                            <% if(locals.errors && errors.imagenAvatar) { %>
                                <div class="text-danger" style="color: red;">
                                    <%= errors.imagenAvatar.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="input-formulario">
                            <label for="contraseña">Contraseña</label></BR>
                            <input 
                                type="password" 
                                name="password" 
                                id="password"
                                class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"> 
                            <% if(locals.errors && errors.password) { %>
                                <div class="text-danger" style="color: red;">
                                    <%= errors.password.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="input-formulario">
                            <label for="contraseña">Confirmar Contraseña</label></BR>
                            <input 
                                type="password" 
                                name="passwordConfirm" 
                                id="passwordConfirm" 
                                class="form-control <%= locals.errors && errors.passwordConfirm ? 'is-invalid' : null %>"> 
                            <% if(locals.errors && errors.passwordConfirm) { %>
                                <div class="text-danger" style="color: red;">
                                    <%= errors.passwordConfirm.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="input-formulario">
                            <label for="nombre">Dirección de Correo Electrónico</label></BR>
                            <input 
                                type="email" 
                                name="email" 
                                id="email" 
                                class="form-control <%= locals.errors && errors.email ? 'is-invalid' : locals.errors ? 'is-valid' : null %>"
                                value="<%= user.email %>"
                            > 
                            <% if(locals.errors && errors.email) { %>
                                <div class="text-danger" style="color: red;">
                                    <%= errors.email.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="input-formulario">
                            <label for="nombre">Fecha de Nacimiento</label></BR>
                            <input 
                                type="date" 
                                name="fecha"
                                class="form-control <%= locals.errors && errors.fecha ? 'is-invalid' : locals.errors ? 'is-valid' : null %>"
                                value="<%= user.fecha %>"
                            > 
                            <% if(locals.errors && errors.fecha) { %>
                                <div class="text-danger" style="color: red;">
                                    <%= errors.fecha.msg %>
                                </div>
                            <% } %>
                        </div> 
                        </BR>
                        <div class="button-submit">
                            <button type="submit" class="submit-iniciar-sesion"><span>EDITAR CUENTA</span></button>
                        </div>
                    </form>
                </div>                       
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/registerValidationFront.js"></script>
</body>
</html>